.aboutHolder {
    background: #eeeeee;
    width: 100%;
    margin: 0;
    height: auto;
    position: relative;
    display: inline-block;
    color: gray;
    
}

.aboutHolder h2 {
    position: relative;
    margin: 0;
}

.aboutCard{
    margin: 32px;
    height: auto;
    background: white;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
}

.inputRow{
    width: 100%;
    display: block;
}

.sideDeco{
    margin: 0;
    display:table-cell;
    width: 20%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-image: url('/images/3.jpeg');
    background-repeat: no-repeat;
}

.textArea{
    padding: 32px;
    display:table-cell;
    width: 60%;
    height: 100%;
}

.textArea img {
    width: 100%;
}

.lnr-store {
    z-index: 4;
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: rgb(13, 236, 143);
    font-size: 48px;
}

@media screen and (max-width: 600px) {
    .lnr-store {
        z-index: 4;
        top : 0px;
        left: 20px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        color: rgb(13, 236, 143);
        font-size: 24px;
    }
}

.iconHolder {
    margin: auto;
    position: relative;
    padding: auto;
    height: 100%;
    width: 100%;
}