.footer{
    height: auto;
    width: 100%;
    background-color: #312619;
    text-align: center; 
    display:inline-block;
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
    bottom: 0px;
}

.leftText p{
    display: block;
    font-size: 12px;
}
.leftText{
    position: relative; 
    display: block;
}

.rightText{
    float: right;
}