.footer{
    height: 15vh;
    background-color: #ecb676;
    text-align: center; 
}

.leftText p{
    font-size: 12px;
    margin: 0px 10px 10px 10px;
}
.leftText{
    position: relative; 
    padding: 4.4vh 0 0 0  ;
    float: none;
}

.rightText{
    float: right;
}