.introCell {
    display: inline-block; 
    background: #ffffff;
    border-radius: 25px;
    width: 20rem;
    height: 412px;
    overflow: hidden;
    color: #5a3912;
    margin: 20px 10px 20px 10px;
}

.introCell:hover{
    background: #ffffff;    
    top: -10px;
    -webkit-box-shadow: 0 4px 8px rgba(200,200,200,.7);
    -moz-box-shadow: 0 4px 8px rgba(200,200,200,.7);
    box-shadow: 0px 2px 4px 2px rgba(200,200,200,.7);
    transition: 0.3s;
}

.introImg {
    height: 200px;
    width:  100%;
    border-radius: 25px;
    overflow: hidden;
    z-index: 99;
    position: relative

    
}

.introImg img {
    margin: auto;
    display: inline;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    position: absolute;
    width: auto;
    height: 100%;
    
}

.introImgOverlay {
    width: 100%;
    height: 200px;
    position: absolute;
    background: rgb(41, 39, 39);
    opacity: 0.7 ;
    right: 0;
    top: 0;
    overflow: auto;   
    z-index: 3;
}

.introText h3{
    font-weight:700;

}

.introText{
    margin-bottom: 20px;
}

.introText p{
    font-weight:light;
    text-align: justify;    
    margin: 0px 24px 10px 24px;
}

.lnr-bubble, .lnr-store, .lnr-rocket {
    z-index: 4;
    top : 76px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: rgb(13, 236, 143);
    font-size: 48px;
    /* To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }



  .circleBack{
      z-index:3;
      top: 52px;
      border-radius: 48px;
      left: 110px;
      opacity: 0.4;
      position: absolute;
      background: rgb(29, 0, 0);
      width: 96px;
      height: 96px;
      margin: auto;
  }